<mat-toolbar color="primary">
  <div>
    <button
      *ngIf="!isLargeScreen"
      mat-icon-button
      (click)="onSidenavToogle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxLayout fxLayoutAlign="flex-end" fxFlex *ngIf="isLargeScreen">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Traning</a></li>
      <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
